h1 {
	text-align: center;

}

button {
	margin: 0 12px;
	padding: 8px;
	background-color: #5bc0de;
	border: 0;
	border-radius: 5%;
	color: white;
}

.menu {
	margin: auto;
	padding-bottom: 15px;
	text-align: center;
}

.box {
	border: 1px solid #DDD;
	padding: 0;
	margin: 0;
	background-color: #000;
	opacity: 0;

}

.grid-holder {
	width: 480px;
	height: 480px;
	margin: 0 auto;	
	border-collapse: collapse;
}

.row {
	vertical-align: middle;
	padding: 0;
	margin: 0;
}

tr.row td:last-child {
	border-right: 1px solid black;
}
tr.row td:first-child {
	border-left: 1px solid black;
}

.grid-holder tr:first-child td{
	border-top: 1px solid black;
}

.grid-holder tr:last-child td{
	border-bottom: 1px solid black;
}

